---
layout: home
---
<main>
    <nav class="navbar">
        <label for="check" class="bar">
            <input id="check" type="checkbox" class="menu-toggle">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </label>
        <div class="menu">
            <div class="close-btn menu-close">
                <i class="bi bi-x"></i>
            </div>
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
                <ul class="social-links">
                    <li class="github">
                        <a href="https://github.com/mrinmoyhaloi"><i class="bi bi-github"></i></a>
                    </li>
                    <li class="stackover">
                        <a href="https://stackoverflow.com/users/15559063/mrinmoy-haloi"><i class="bi bi-stack-overflow"></i></a>
                    </li>
                    <li class="twitter">
                        <a href="https://twitter.com/_mrinmoy_haloi_"><i class="bi bi-twitter"></i></a>
                    </li>
                </ul>
            </ul>
        </div>
    </nav>
    <section class="landing">
        <div>
            <h1 class="heading cursor-invert">
                <div class="first-text split-text">
                    Hi,
                </div>
                <div class="second-text split-text">
                    I'm
                </div>
                <div class="third-text">
                    <div class="split-text" style="margin-right: 1rem">
                        Mrinmoy
                    </div>
                    <div class="split-text">
                        Haloi
                    </div>
                </div>
            </h1>

            <p>Web developer · India</p>
        </div>
    </section>
    <section class="about-section container" id="about">
        <div class="about-text">
            <h2 class="split-text about-title">Myself,</h2>

            <p>I'm <span style="background-color: #4a00e0;">Mrinmoy Haloi</span>, a Front
                End developer located in India with a passion of making great
                websites.</p>

            <p>love to watch movies, a casual gamer, and a computer tinkerer. Also a GNU/Linux enthusiast.</p>

            <a href="#contact" class="about-call-to-action btn">Get in touch</a>
        </div>
        <div class="about-img">
            <img src="assets/logo-dark-transparent.png" width="450" height="450" alt="Logo">
        </div>
    </section>
    <section class="skills-section container mt-5" id="skills">
        <div class="skills-showcase">
            <h2 class="split-text skill-title">Skills</h2>
            <div>
                <h3>Languages</h3>
                <ul class="languages">
                    <li class="language">HTML</li>
                    <li class="language">CSS</li>
                    <li class="language">SCSS</li>
                    <li class="language">Bootstrap</li>
                    <li class="language">JavaScript</li>
                    <li class="language">TypeScript</li>
                    <li class="language">Python</li>
                    <li class="language">JSON</li>
                    <li class="language">Svelte</li>
                </ul>
            </div>
            <div>
                <h3>Tools</h3>
                <ul>
                    <li class="tool">GIT</li>
                    <li class="tool">GitHub</li>
                    <li class="tool">VS Code</li>
                    <li class="tool">Linux</li>
                </ul>
            </div>
        </div>
        <div class="skill-canvas">
            <canvas width="500" height="500" id="myCanvas">
                <ul class="tags">
                    <li><a onclick="return false"><img src="assets/brand-logos/html-logo.png" width="40"
                                height="40"></a></li>
                    <li><a onclick="return false"><img src="assets/brand-logos/css-logo.png" width="40" height="40"></a>
                    </li>
                    <li><a onclick="return false"><img src="assets/brand-logos/scss-logo.png" width="40"
                                height="40"></a></li>
                    <li><a onclick="return false"><img src="assets/brand-logos/bootstrap-logo.png" width="40"
                                height="31"></a></li>
                    <li><a onclick="return false"><img src="assets/brand-logos/javascript-logo.png" width="40"
                                height="40"></a></li>
                    <li><a onclick="return false"><img src="assets/brand-logos/typescript-logo.png" width="40"
                                height="40"></a></li>
                    <li><a onclick="return false"><img src="assets/brand-logos/python-logo.png" width="40"
                                height="40"></a></li>
                    <li><a onclick="return false"><img src="assets/brand-logos/json-logo.png" width="50"
                                height="23"></a></li>
                    <li><a onclick="return false"><img src="assets/brand-logos/svelte-logo.png" width="40"
                                height="45"></a></li>
                    <li><a onclick="return false"><img src="assets/brand-logos/git-logo.png" width="40" height="40"></a>
                    </li>
                    <li><a onclick="return false"><img src="assets/brand-logos/github-logo.png" width="40"
                                height="40"></a></li>
                    <li><a onclick="return false"><img src="assets/brand-logos/vscode-logo.png" width="40"
                                height="40"></a></li>
                    <li><a onclick="return false"><img src="assets/brand-logos/linux-logo.png" width="40"
                                height="46"></a></li>

                </ul>
            </canvas>
        </div>
    </section>
    <section class="projects-section container" id="projects">
        <div class="projects">
            <h2 class="split-text project-title">Projects</h2>
            <p>Here are some of my projects. Click on them to know more.</p>
            <div class="portfolio-container mt-3">
                {% for project in site.data.projects %}
                {% include project.html project=project %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="contact-section container" id="contact">
        <div>
            <h2 class="split-text message-title">Send a message</h2>
            <form action="/" class="contact-form">
                <input type="text" name="name" required placeholder="Name" class="name">
                <input type="email" name="email" required placeholder="Email address" class="email">
                <input type="text" name="subject" required placeholder="Subject" class="subject">
                <textarea name="message" required placeholder="Message" cols="30" rows="10" class="message"></textarea>
                <button type="submit" class="submit btn">Submit</button>
            </form>
        </div>
        <div class="more-info">
            <h2 class="split-text get-in-touch-title">Get in touch</h2>
            <ul class="personal-info">
                <li><i class="bi-geo-alt-fill"></i> {{ site.location }}</li>
                <li><i class="bi-envelope"></i> {{ site.email }}</li>
            </ul>
            <ul class="social mt-3">
                <li><a href="https://github.com/{{ site.github }}" target="_blank"><i class="bi-github"></i></a></li>
                <li><a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="bi-twitter"></i></a></li>
            </ul>
        </div>
    </section>
    <footer>
        <p>Designed and programmed by Me.</p>
        <p>Copyright Mrinmoy Haloi 2022</p>
    </footer>
</main>

<!-- <div class="intro">
    <div class="intro-text">
        <h1 class="hide">
            <span class="text" style="transform: translateX(-100%); opacity: 0%;">“How you look at it is pretty much how you'll see it”</span>
        </h1>
        <h1 class="hide mt-4">
            <span class="text" style="font-size: 2.2rem;">― Rasheed Ogunlaru</span>
        </h1>
    </div>
</div>
<div class="slider"></div> -->