---
layout: home
---
<main>
    <section class="landing">
            <div class="title-box">
                <h1>
                    <span>Front End dev.</span><br>
                    <span style="margin-right: 2rem;">Based in</span>
                    <span class="address">Assam, India</span>
                </h1>
            </div>
            <div class="bottom-box">
                <div>
                    <span>Mrinmoy Haloi</span> <br>
                    <span style="font-weight: 300; font-size: 1rem;color:#dbdbdb">Front End dev · Web designer</span>
            
                </div>
                <i class="bi bi-arrow-down"></i>
            </div>
    </section>
    <section class="about-section container" id="about">
        <div class="about-text">
            <h2 class="split-text about-title">Myself,</h2>
            <p>I'm <span style="background-color: #4a00e0;">Mrinmoy Haloi</span>, a Front
                End developer from India with a passion of making great
                websites.</p>

            <p>love to watch movies, a casual gamer, and a computer tinkerer. Also a GNU/Linux enthusiast.</p>

            <a href="#contact" class="about-call-to-action btn">Get in touch</a>
        </div>
        <div class="about-img">
            <img src="assets/logo-dark-transparent.png" width="450" height="450" alt="Logo">
        </div>
    </section>
    <section class="skills-section container mt-5" id="skills">
        <div class="skills-showcase">
            <h2 class="split-text skill-title">Skills</h2>
            <div>
                <h3>Languages and Libraries</h3>
                <ul class="languages">
                    <li class="language">HTML</li>
                    <li class="language">CSS</li>
                    <li class="language">SCSS</li>
                    <li class="language">Bootstrap</li>
                    <li class="language">JavaScript</li>
                    <li class="language">TypeScript</li>
                    <li class="language">Python</li>
                    <li class="language">JSON</li>
                    <li class="language">Svelte</li>
                </ul>
            </div>
            <div>
                <h3>Tools</h3>
                <ul>
                    <li class="tool">GIT</li>
                    <li class="tool">GitHub</li>
                    <li class="tool">VS Code</li>
                    <li class="tool">Linux</li>
                </ul>
            </div>
        </div>
        <div class="skill-canvas">
            <canvas width="500" height="500" id="myCanvas">
                <ul class="tags">
                    <li><a onclick="return false"><img src="assets/brand-logos/html-logo.png" width="40"
                                height="40"></a></li>
                    <li><a onclick="return false"><img src="assets/brand-logos/css-logo.png" width="40" height="40"></a>
                    </li>
                    <li><a onclick="return false"><img src="assets/brand-logos/scss-logo.png" width="40"
                                height="40"></a></li>
                    <li><a onclick="return false"><img src="assets/brand-logos/bootstrap-logo.png" width="40"
                                height="31"></a></li>
                    <li><a onclick="return false"><img src="assets/brand-logos/javascript-logo.png" width="40"
                                height="40"></a></li>
                    <li><a onclick="return false"><img src="assets/brand-logos/typescript-logo.png" width="40"
                                height="40"></a></li>
                    <li><a onclick="return false"><img src="assets/brand-logos/python-logo.png" width="40"
                                height="40"></a></li>
                    <li><a onclick="return false"><img src="assets/brand-logos/json-logo.png" width="50"
                                height="23"></a></li>
                    <li><a onclick="return false"><img src="assets/brand-logos/svelte-logo.png" width="40"
                                height="45"></a></li>
                    <li><a onclick="return false"><img src="assets/brand-logos/git-logo.png" width="40" height="40"></a>
                    </li>
                    <li><a onclick="return false"><img src="assets/brand-logos/github-logo.png" width="40"
                                height="40"></a></li>
                    <li><a onclick="return false"><img src="assets/brand-logos/vscode-logo.png" width="40"
                                height="40"></a></li>
                    <li><a onclick="return false"><img src="assets/brand-logos/linux-logo.png" width="40"
                                height="46"></a></li>

                </ul>
            </canvas>
        </div>
    </section>
    <section class="projects-section container" id="projects">
        <div class="projects">
            <h2 class="split-text project-title">Projects</h2>
            <p>Here are some of my projects. Click on them to know more.</p>
            <div class="portfolio-container mt-3">
                {% for project in site.data.projects %}
                {% include project.html project=project %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="contact-section container" id="contact">
        <div style="width: 100%;">
            <h2 class="split-text message-title">Send a message</h2>
            <form action="/" class="contact-form">
                <input type="text" name="name" required placeholder="Name" class="name">
                <input type="email" name="email" required placeholder="Email address" class="email">
                <input type="text" name="subject" required placeholder="Subject" class="subject">
                <textarea name="message" required placeholder="Message" cols="30" rows="10" class="message"></textarea>
                <button type="submit" class="submit btn">Submit</button>
            </form>
        </div>
    </section>
    <footer>
        <p>Made by Myself 2024</p>
    </footer>
</main>
