body {
    font-family: "Noto Sans", sans-serif;
}
.landing {
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    & h1 {
        font-size: 4rem;
        font-weight: 600;
    }
}