<div class="project" style="border: 2px solid white; padding: 1.5rem;" data-project="{{include.project}}">
    <a class="project-link" href="#" target="_blank">
        <div style="display: grid; gap: .7rem">
            <div style="display:flex;align-items: center; justify-content: space-between; gap:1rem">
                <div>
                    <h3 class="project-title"></h3>
                    <br>
                    <p class="project-desc"></p>
                </div>
                <img class="project-logo" style="border-radius: 1rem;" src="" alt="project logo" width="70">
            </div>
            <div>
                <b>Stars <i class="bi bi-star"></i></b>: <span class="project-stars"></span> <br>
                <b>Languages <i class="bi bi-code-slash"></i></b>: <span class="project-langs"></span>
            </div>
        </div>
    </a>
</div>