.navbar-toggler:focus{
  box-shadow: 0 0 0 0.1rem !important;
}
#home .col span{
  font-size: 1.2em;
}

.hover-opacity{
  transition: 0.4s;
}
.hover-opacity:hover{
  opacity: 70%;
}
footer{
  background-color: black;
}
.progress-bar {
  width: 0%;
  background-color: rgb(44, 44, 44) !important;
}
#navbar {
  padding: 5px 0;
  transition: 0.4s;
  background-color: white;
}
.pinned-nav {
  padding: 10px 0 !important;
}
.progress {
  margin: 0.4rem 0 0.7rem 0;
}
.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}
.width-100 {
  width: 100%;
}
.button-rounded {
  background: #000000;
  color: white;
  border-radius: 5rem;
  padding: 10px 24px;
  border: 0;
  transition: 0.5s;
}
.button-rounded:hover {
  background-color: #353535;
  color: #fff;
  transition: all 500ms ease;
}
.hire-button{
  background: black;
  color: white;
  text-decoration: none;
  padding: 8px 20px;
  transition: 0.5s;
}
.hire-button:hover{
  color: white;
  background: #353535;
}
.socials i {
  color: black;
}
.socials i:hover {
  color: rgba(0, 0, 0, 0.664);
}
.list-ico {
  list-style: none;
  padding-left: 0;
  line-height: 2;
}
.ico-circle {
  font-size: 1.5rem;
}
.nav-items li {
  padding: 0px 7px;
  transition: 0.5s;
}
.nav-items li:hover {
  background-color: rgba(165, 165, 165, 0.349);
}
.nav-link {
  color: black !important;
}
.socials {
  padding: 0.2rem 0;
}
.socials ul {
  padding-left: 0;
}
.socials li {
  display: inline-block;
  padding: 0 0.8em;
  list-style: none;
}
#to-top {
  border-radius: 100%;
  border: 1px solid black;
  opacity: 75%;
  transition: 0.3s;
}
.to-top-invisible {
  transform: translateY(50%);
  opacity: 0% !important;
}
#to-top i {
  transition: 0.5s;
}

#to-top:hover {
  opacity: 100%;
  transform: translateY(-20%);
}
#to-top:hover i {
  transform: translateY(-30%);
}
#to-top:focus i {
  transform: translateY(-50%);
}
#feed-btn {
  margin-top: 20px;
  border-radius: 20px;
}
#feed-btn i {
  opacity: 0%;
  margin-right: -15px;
  transition: 1s;
  transform: translateX(-300%);
}

#feed-btn:hover i {
  opacity: 100%;
  margin-right: 10px;
  transform: translateY(-0.1%);
}

body,
html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  scroll-behavior: smooth;
}
#about {
  padding: 4rem 4.5rem;
}
@media (max-width: 576px) {
  #about {
    padding: 4rem 1rem;
  }
}
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  filter: grayscale(30%);
  min-height: 500px;
  background-color: black;
}

.bgimg-2 {
  background-image: url("./portfolio.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("./contact.jpg");
  min-height: 400px;
}

.wide {
  letter-spacing: 10px;
}

@media (max-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

*,
a,
a:link {
  text-decoration: none;
}
