.call-to-action {
    color: white !important;
    padding: 0.5rem 1.2rem !important;
    text-decoration: none;
    cursor: pointer;
    border-color: white !important;
    &:hover {
        color: black !important;
    }
    &::before {
        background-color: white !important;
    }
}
.hire-button {
    text-decoration: none;
    padding: 0.4em 1.2em !important;
    &:hover {
        color: #fff;
    }
}
/* From cssbuttons.io by @nikk7007 */
.button-square {
    padding: 0.7em 1.5em;
    border: 2px solid #000000;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.3s;
    z-index: 1;
    font-family: inherit;
    color: #000000;
}

.button-square::before {
    content: "";
    width: 0;
    height: 350%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: black;
    transition: 0.5s ease;
    display: block;
    z-index: -1;
}

.button-square:hover::before {
    width: 105%;
}

.button-square:hover {
    color: #fff;
}

html {
    scroll-padding-top: 45px;
}

@mixin bg-img($img) {
    background-image: url($img);
    min-height: 400px;
}
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.project {
    flex: 0.2 1 420px;
    & img {
        image-rendering: crisp-edges;
        image-rendering: -moz-crisp-edges; /* Firefox */
        image-rendering: -o-crisp-edges; /* Opera */
        image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
        -ms-interpolation-mode: nearest-neighbor;
    }
}
@media screen and (max-width: 802px) {
    .project {
        flex: 0.5 1 350px;
    }
}
@media screen and (max-width: 622px) {
    .project {
        flex: 0.7 1 350px;
    }
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0rem !important;
}

.hover-opacity {
    transition: 0.1s;
    border: transparent solid 2px;
    &:hover {
        border: #353535 solid 2px;
        opacity: 75%;
    }
}
.hover-opacity-more {
    transition: 0.4s;
    &:hover {
        opacity: 75%;
    }
}
footer {
    background-color: #0f0f0f;
}
.progress-bar {
    width: 0%;
    background-color: rgb(44, 44, 44) !important;
}
#navbar {
    padding: 5px 0;
    transition: 0.4s;
    background-color: white;
}
.pinned-nav {
    padding: 8px 0 !important;
}
.progress {
    margin: 0.1rem 0 0.5rem 0;
}
.title-s {
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}
.socials {
    i {
        color: black;
        &:hover {
            color: rgba(0, 0, 0, 0.664);
        }
    }
}
.list-ico {
    list-style: none;
    padding-left: 0;
    line-height: 2;
}
.ico-circle {
    font-size: 1.5rem;
}
.nav-items li {
    padding: 0px 7px;
    transition: 0.5s;
    &:hover {
        background-color: rgba(165, 165, 165, 0.349);
    }
}
.nav-link {
    color: black !important;
}
.socials {
    padding: 0.2rem 0;
    ul {
        padding-left: 0;
    }
    li {
        display: inline-block;
        padding: 0 0.8em;
        list-style: none;
    }
}
#to-top {
    border-radius: 100%;
    border: 1px solid black;
    opacity: 75%;
    transition: 0.3s;
    &:focus {
        transform: translateY(-50%);
    }
    &:hover {
        opacity: 100%;
        transform: translateY(-20%);
        i {
            transform: translateY(-30%);
        }
    }
    i {
        transition: 0.5s;
    }
}
.to-top-invisible {
    transform: translateY(50%);
    opacity: 0% !important;
}
body,
html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    scroll-behavior: smooth;
}
#about {
    padding: 4rem 3rem;
}
@media (max-width: 576px) {
    #about {
        padding: 4rem 1rem;
    }
}
.bgimg-1,
.bgimg-2,
.bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    min-height: 85vh;
    background: linear-gradient(to right, #2a2e35, #12181b) !important;
    & h1 {
        font-weight: bolder;
        font-size: 5rem;
        @media screen and (max-width: 575px) {
            font-size: 4.5rem;
        }
    }
    & > div {
        width: max-content;
        @media screen and (min-width: 768px) {
            margin-left: 4rem !important;
        }
        @media screen and (max-width: 576px) {
            width: min-content;
        }
    }
}

.bgimg-2 {
    @include bg-img("./portfolio.webp");
}

.bgimg-3 {
    @include bg-img("./contact.webp");
}

.wide {
    letter-spacing: 10px;
}

@media (max-width: 1024px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
        min-height: 470px;
    }
}
*,
a,
a:link {
    text-decoration: none;
}
