/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-family: 'Outfit', sans-serif;
	font-optical-sizing: auto;
}

body {
	background-color: $background;
	color: $text;
}

h2 {
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

p {
	font-size: 1.7rem;
	line-height: 2.7rem;
}
